// =============================================================================
// CATEGORY (CSS)
// =============================================================================

.actions-bar {
    display: flex;
    justify-content: space-between;
}


// Category header
// -----------------------------------------------------------------------------

.category-header-image {
    width: 100%;
}
